{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  Cambio de contraseña
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Cambio de contraseña</h5>
          <p class="text">
              Por favor, por razones de seguridad, introduzca primero su contraseña antigua y 
              luego introduzca la nueva contraseña dos veces para verificar que la ha escrito correctamente.
          </p>

          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group mb-3">
                <label for="" class="form-label">{{ field.label }}:</label>
                {{ field|add_class:'form-control' }}
              </div>
            {% endfor %}

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Cambiar mi contraseña</button>
            </div>
          </form>
        </div>
      </div>

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}