{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Cambiar contraseña{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Cambio de contraseña exitoso</h5>
          <p class="text">
            Su contraseña ha sido cambiada.
          </p>

          <div class="d-grid gap-2">
            <span class="text-center">
              <a href="{% url 'posts:feed' %}">Ir al inicio</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}