{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <title>
    {% block title %}{% endblock title %}
  </title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'posts:feed' %}">Adopt.ar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated and user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/">Panel de administrador</a>
            </li>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
          <div class="dropdown mx-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="{% url 'users:profile' user.username %}">Mi perfil</a>
              </li>
              <li>
                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Cerrar sesión
                </button>
              </li>
            </ul>
          </div>
          
        {% else %}
          <div class="btn-group mx-3">
            <a href="{% url 'users:login' %}" class="btn btn-primary">Ingresar</a>
            <a href="{% url 'users:register' %}" class="btn btn-primary">Registrarse</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container-lg mt-4">
    {% block content %}
    {% endblock content %}

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cerrar sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>¿Quiere terminar su sesión?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'users:logout' %}" type="button" class="btn btn-danger">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Bootstrap script -->
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% block javascript %}{% endblock javascript %}
</body>
</html>