{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          {{ title }}
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group mb-3">
                <label for="" class="form-label">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
              </div>
            {% endfor %}
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
              <span class="text-center">
                ¿Olvido su contraseña? <a href="{% url 'users:password_reset' %}">Recuperar contraseña</a>
              </span>
              <span class="text-center">
                ¿No tienes cuenta? <a href="{% url 'users:register' %}">Crea una</a>
              </span>
            </div>
          </form>
        </div>
      </div>

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}