{% extends 'base.html' %}

{% block title %}
  {{ profile.username }}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md" style="border-right: 1px solid #dee2e6;">
              <div class="row">
                <div class="col-md-4">
                  <img src="{{ profile.get_avatar }}" alt="User avatar" class="img-thumbnail mb-3">
                  <p class="text-muted">
                    {% if profile.description %}
                      {{ profile.description }}
                    {% elif user.id == profile.id %}
                      ¡Cuenta algo sobre ti!
                    {% else %}
                      Este usuario no tiene una descripción
                    {% endif %}
                  </p>
                </div>
                <div class="col-md">
                  <h2 class="mb-3">{{ profile.first_name }} {{ profile.last_name }}</h2>
                  <table class="table table-responsive table-hover">
                    <tbody>
                      <tr>
                        <th>Nombre de usuario:</th>
                        <td>{{ profile.username }}</td>
                      </tr>
                      <tr>
                        <th>Email:</th>
                        <td>{{ profile.email }}</td>
                      </tr>
                      <tr>
                        <th>Provincia:</th>
                        <td>{{ profile.province }}</td>
                      </tr>
                      <tr>
                        <th>Ciudad:</th>
                        <td>
                          {% if profile.city %}
                            {{ profile.city }}
                          {% else %}
                            No especificado
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th>Ultimo ingreso:</th>
                        <td>{{ profile.last_login }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg text-center">
              <h2>Ultimas calificaciones</h2>
              {% if profile.qualifications %}
              {% else %}
                No existen calificaciones
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-footer">
          {% if user.id == profile.id %}
            <a href="{% url 'users:update_profile' %}" class="btn btn-primary">Editar perfil</a>
            <a href="{% url 'users:password_change' %}" class="btn btn-primary">Cambiar contraseña</a>
          {% else %}
            <a href="#" type="button" class="btn btn-danger">Denunciar usuario</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}