{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
  Actualizar perfil
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="card mb-3">
        <form method="post" id="updateUser" data-cities-url="{% url 'users:ajax_load_cities' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ user.get_avatar }}" alt="User avatar" class="mb-3 img-thumbnail">
                <div class="form-group mb-3">
                  <label for="{{ form.description.html_name }}" class="form-label">{{ form.description.label }}</label>
                  {{ form.description|add_class:'form-control' }}
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="{{ form.first_name.html_name }}" class="form-label">{{ form.first_name.label }}</label>
                  {{ form.first_name|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.last_name.html_name }}" class="form-label">{{ form.last_name.label }}</label>
                  {{ form.last_name|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.avatar.html_name }}">{{ form.avatar.label }}</label>
                  {{ form.avatar|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.email.html_name }}" class="form-label">{{ form.email.label }}</label>
                  {{ form.email|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.province.html_name }}" class="form-label">{{ form.province.label }}</label>
                  {{ form.province|add_class:'form-control' }}
                </div>

                <div class="form-group mb-3">
                  <label for="{{ form.city.html_name }}" class="form-label">{{ form.city.label }}</label>
                  {{ form.city|add_class:'form-control' }}
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Actualizar perfil</button>
            <a href="{% url 'users:profile' user.username %}" class="btn btn-danger">Cancelar</a>
          </div>
        </form>
      </div>

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script>
    $("#id_province").change(function (){
      var url = $("#updateUser").attr("data-cities-url");
      var provinceId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'province': provinceId
        },
        success: function(data) {
          $("#id_city").html(data)
        }
      });
    });
  </script>
{% endblock javascript %}