{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Recuperar contraseña{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Se ha enviado un email de reinicialización de contraseña</h5>
          <p class="text">
            Se le han enviado instrucciones sobre cómo establecer su contraseña. Si la dirección de email que proveyó existe, debería recibir las mismas pronto.
          </p>
          <p class="text">
            Si no ha recibido un email, por favor asegúrese de que ha introducido la dirección de correo con la que se había registrado y verifique su carpeta de Correo no deseado.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}